.ThirdContenth1 {
  font-family: Lora;
  padding-top: 5rem;
  margin-bottom: -2.3rem;
  font-weight: Bold;
  font-size: 128px;
  line-height: 164px;
  line-height: 100%;
  text-align: center;
  vertical-align: Top;
  color: white;
}

.ThirdContenth3 {
  font-family: Lora;
  font-weight: Bold;
  font-size: 48px;
  line-height: 61px;
  line-height: 100%;
  text-align: center;
  vertical-align: Top;
  color: whitesmoke;

}

.smaller{
    width: 35%;
}

.card1 {
    margin-top: 6rem;
    background-color: rgba(255, 255, 255, 0.7);
}
   
@media screen and (max-width: 660px) {
 .ThirdContenth1{
    font-size: 90px;


 }
}
@media screen and (max-width: 500px) {
 .ThirdContenth1{
    font-size: 60px;
    color: rgb(66, 65, 65);


 }
}
